
/*ALLLGEMEIN*/

body { 
    background-image: url(Datei/bg.png);
    font-family: sans-serif;
    height:100%;
    width: 100%;
    margin: auto;
    text-align: center;
}

h1 {color:lightskyblue;
    border: 1px solid lightskyblue;
}

main{
    width:800px;
    height: auto;
    margin:auto;

}

header{
    width:auto;
    height:50px;
    background-color: #bbb0f584;
    top: 0;
    position:sticky;
}

/* navigation */

nav {
    top: 0;
    position:sticky
}

ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 0;
    margin-right:auto;
    margin-left:auto;
}

li{
    border-right: 1px solid white;
    float:right;
}

li a {
    
    color:white;
    display:block;
    padding: 5px;
    background-color:lightskyblue;
    text-align: center;
    text-decoration:none;
}

li a:hover { background-color: rgb(249, 130, 255);
}

.active{
    background-color:rgb(250, 129, 216) ;
    color:white;
}
/*footer + Social media navigationsleiste*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
    border-radius: 50%;
  }
  
  
.fa:hover {
    opacity:0.7;
}

.fa-facebook {
    background: #cc2199;
    color: white;
}
  
.fa-instagram {
    background: #55ACEE;
    color: white;
    
} 

    
footer{
    width:auto;
    height:100px;
    background-color: #bbb0f584;
   
    
}


/*portfolio*/

#homepage{
    color:rgb(249, 185, 217);
    font-size:15px;
    outline-style:none;
    margin-top:-15px;
    
}

/*about me*/

h2{color: rgb(87, 185, 245);
outline-style:dotted ;
outline-width: 2px;}

table{

    width: 0px;
    padding: 5px;
    border: 10px;
    margin: auto;
    text-align: center;
}
.Spalte {
    border:3px solid rgb(255, 230, 192);
    margin: auto;
}

/*contact*/
form input{
	border: 1px solid black;
	background: rgb(233, 232, 232);
    padding: 5px;
}

form textarea{
	font-family: sans-serif;
	background: rgb(233, 232, 232);
    border: 1px solid black;
    padding: 5px;
}

#datenschutz{
    color:grey;
    font-size:smaller;
}

#cat{
    margin-top:50px;
}
