
/*ALLLGEMEIN*/

body { 
    background-image: url(Datei/bg.png);
    font-family: sans-serif;
    height:100%;
    width: 100%;
    margin: auto;
    text-align: center;
}

h1 {color:lightskyblue;
    border: 1px solid lightskyblue;
}

main{
    width:800px;
    height: auto;
    margin:auto;

}

/* navigation */

nav{
    top:0;
    position: fixed;
    margin-left:850px;
    /*klappt nicht mit float:right. */
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:table;
    margin-top: 0;
    margin-right:0;
    margin-left:0;
    
}

li{
    border-right: 1px solid white;
    display:inline;
    
}

li a {
    
    color:white;
    padding: 5px;
    background-color:black;
    text-decoration:none;
}

li a:hover { background-color: grey;
}

.active{
    background-color: white ;
    color:black;
}


/*portfolio*/

#homepage{
    color:rgb(249, 185, 217);
    font-size:15px;
    outline-style:none;
    position:static;
}

/*about me*/

h2{color: rgb(87, 185, 245);
outline-style:dotted ;
outline-width: 2px;}

table{

    width: 0px;
    padding: 5px;
    border: 10px;
    margin: auto;
    text-align: center;
}
.Spalte {
    border:5px solid pink;
    margin: auto;
}



/*contact*/
form input{
	border: 1px solid black;
	background: rgb(233, 232, 232);
    padding: 5px;
}

form textarea{
	font-family: sans-serif;
	background: rgb(233, 232, 232);
    border: 1px solid black;
    padding: 5px;
}

#datenschutz{
    color:grey;
    font-size:smaller;
}

.fa.fa.instagram{
    font-size:50px;
    color:black;
    text-decoration: none;
}

#cat{
    margin-top:50px;
}

.fa:hover {
    background-color: white;
  
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-instagram {
    background: #55ACEE;
    color: white;
  }
    
footer{
    width:auto;
    height:150px;
    background-color: pink;
    
}